<footer>
    <div class="container">
        <div class="column">
            <div class="row">
                <div class="footer-col">
                    <h4>услуги</h4>
                    <ul>
                        <li><a href="#">Безплатен оглед</a></li>
                        <li><a href="#">Монтаж на климатици</a></li>
                        <li><a href="#">Профилактика на климатици</a></li>
                        <li><a href="#">Сервиз и ремонт на климатици</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>помощен център</h4>
                    <ul>
                        <li><a href="#">Ръководство за употреба</a></li>
                        <li><a href="#">Общи условия</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>контакти</h4>
                    <ul>
                        <li><a href="#">Адрес</a></li>
                        <li><a href="#">Тел. за контакти: +359 00 0000000</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
