
// TO DO - REACTIVE

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #f8f8f8;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    // transition: all .50s ease;
    gap: 5%;
}

.logo {
    display: flex;
    
}

.logo span{
    width: 150px;
    color: #24262b;
    text-align: center;
}

.links-text {
    display: flex;
}

.links-text .col {
    top: -12px;
}

.links-text li{
    position: relative;
    text-decoration: none;
    align-items: center;
    width: 150px;
}

.links-text li:not(:last-child){
    margin-right: 30px;
}

.links-text li .icon {
    font-size: 18px;
    margin-right: 10px;
    color: #24262b;
    position: relative;
}

.links-text li .icon i {
    position: absolute;
    right: 145px;
    top: 68px;
}

.links-text li .icon b {
    font-weight: 500;
    // transition: all .35s ease;
}

.links-text li .icon:hover > i{
    color: #0a4ba8;
}

.links-text li .icon:hover > b{
    color: #0a4ba8;
}

.links-text li .col .exception {
    font-size: 13px;
    color: #686868;
    font-weight: 300;
}

.search {
    width: 30%;
    align-items: center;
}

.search input {
    width: 80%;
    padding: 0 30px;
    border-radius: 50px;
    border: none;
    border-bottom: solid #0a4ba8;
    font-weight: 500;
    font-size: 13px;
    height: 35px;
    background-color: #e9e9e9;
}

.search input:focus {
    outline: none;
    border-bottom: solid rgb(220, 183, 0);
}

.search button {
    position: relative;
    top: 1.5px;
    right: 53px;
    border: none;
    width: 50px;
    height: 30px;
    background: #0a4ba8;
    border-radius: 50px;

}

.search button:hover {
    background-color: rgb(220, 183, 0);
}

.search form button i{
    color: #fff;
}

