<header>
    <a href="#" class="logo"><span>Logo</span></a>

    <div class="search">
        <form action="#">
            <input type="search" name="search" placeholder="Търсете по модел, марка или сериен номер">
            <button><i class="fa-solid fa-magnifying-glass fa-l" ></i></button>  <!-- style="color: #454545;" -->
        </form>
    </div>

    <ul class="links-text">
        <li class="top-bar-item1">
            <div class="row">
                <a class="icon" href="#">
                    <div class="col icon">
                        <p class="icon">
                            <i class="fa-regular fa-user fa-xl"></i>
                            <br>
                            <b>ПРОФИЛ</b>
                            <br>
                            <span class="exception">ВХОД / РЕГИСТРАЦИЯ</span>
                        </p>
                    </div>
                </a>
            </div>
        </li>

        <li class="top-bar-item2">
            <div class="row">
                <a class="icon" href="#">
                    <div class="col icon">
                        <p class="icon">
                            <i class="fa-regular fa-heart fa-xl"></i>
                            <br>
                            <b>ЛЮБИМИ</b>
                            <br>
                            <span class="exception">РЕДАКТИРАЙТЕ СПИСЪКА</span>
                        </p>
                    </div>
                </a>
            </div>
        </li>

        <li class="top-bar-item3">
            <div class="row">
                <a class="icon" href="#">
                    <div class="col icon">
                        <p class="icon">
                            <i class="fa-solid fa-code-compare fa-xl"></i>
                            <br>
                            <b>СРАВНЕНИЕ</b>
                            <br>
                            <span class="exception"> РАВНЕНИЕ НА ПРОДУКТИ</span>
                        </p>
                    </div>
                </a>
            </div>
        </li>
    </ul>  
</header>
