
// TO DO - REACTIVE

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

// header {
//     //box-shadow: 0 1px 1px 0 rgba($color: #000000, $alpha: 0.2);
// }

.big-nav-bar {
    background-color: #fff;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    //justify-content: space-between;
    //padding: 0px 40px;
    // transition: all .50s ease;
    box-shadow: 0 2px 6px 0 rgba($color: #0a4ba8, $alpha: 0.5);
    gap: 11%;
}

// .logo {
//     //display: flex;
    
// }

.logo {
    margin-left: 4%;
}

.logo img{
    max-width: 130px;
    //margin-left: 30px;
    //color: #24262b;
    //text-align: center;
}

.links-text {
    display: flex;
}

.links-text .col {
    top: -12px;
}

.links-text li{
    position: relative;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: 150px;
}

.links-text li:not(:last-child){
    margin-right: 30px;
}

.links-text li .icon {
    font-size: 18px;
    margin-right: 10px;
    color: #24262b;
    position: relative;
}

.links-text li .icon i {
    position: absolute;
    right: 145px;
    top: 68px;
}

.links-text li .icon b {
    font-weight: 500;
    // transition: all .35s ease;
}

.links-text li .icon:hover > i{
    color: #0a4ba8;
}

.links-text li .icon:hover > b{
    color: #0a4ba8;
}

.links-text li .col .exception {
    font-size: 13px;
    color: #686868;
    font-weight: 300;
}

.search {
    width: 40%;
}

form {
    display: flex;
    height: 40px;
    background: #e8e8e8;
    min-width: 20%!important;
    padding: 5px;
    border-radius: 50px;
    border: none;
    border-bottom: solid #0a4ba8;
}

form input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-weight: 500;
    font-size: 13px;
    background: none;
    border: none;
    //border-radius: 50px;
    
}

form:focus-within {
    border-bottom: solid #DCB700;
}

form input:focus{
    outline: none;
}

form button {
    padding: 0 15px;
    height: 30px;
    background: #0a4ba8;
    border-radius: 50px;
    border: none;
    font-size: 19px;
}

// .search {
//     width: 30%;
//     align-items: center;
//     display: block;
// }

// .search input {
//     width: 87%;
//     padding: 0 20px;
//     border-radius: 50px;
//     border: none;
//     border-bottom: solid #0a4ba8;
//     font-weight: 500;
//     font-size: 13px;
//     height: 35px;
//     background-color: #e8e8e8;
// }

// .search input:focus {
//     outline: none;
//     border-bottom: solid rgb(220, 183, 0);
// }

// .search button {
//     position: relative;
//     top: 1.5px;
//     right: 53px;
//     border: none;
//     width: 50px;
//     height: 30px;
//     background: #0a4ba8;
//     border-radius: 50px;
// }

form button:hover {
    background-color: #DCB700;
}

form button i{
    color: #fff;
}

.mini-nav-bar {
    //display: block;
    //position: relative;
    //width: 100%;
    width: 100%;
    height: 40px;
    //padding: 10px 10px 10px 10px;
    box-shadow: 0 1px 1px 0 rgba($color: #0a4ba8, $alpha: 0.2);
    background-color: #e8e8e8;
    //height: fit-content;
    // z-index: 10;
    // position: relative;
    // box-shadow:#000000;
}

// .mini-nav-bar-content {
//     //padding: 10px 50px;
//     //height: 100%;
//     //background-color: red;
//    // box-shadow: 0 4px 8px 8 rgba($color: #000000, $alpha: 0.2);
// }

// .dropdown-menu {
//     position: relative;
// }

.mini-nav-bar-buttons {
    display: flex;
    justify-content: flex-end;
    //margin-right: 10px;
    position: relative;
    width: 50%;
    height: 40px;
    float: right;
    list-style-type: none;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

    //padding: 10px 10px 10px 10px;

}

.mini-nav-bar-buttons li {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
}

.mini-nav-bar-buttons .button {
    color: #24262b;
}

.mini-nav-bar-buttons .bag {
    background-color: rgb(80, 198, 80);
    font-size: 23px;
    color: #fff;
}

.mini-nav-bar-buttons .bag:hover > i{
    background-color: rgb(118, 203, 118);
}

.mini-nav-bar-buttons .bag:hover > a{
    background-color: rgb(118, 203, 118);
}

.mini-nav-bar-buttons .bag:hover {
    background-color:  rgb(118, 203, 118);
}

.mini-nav-bar-buttons .button:hover > a {
    color: #fff;
    background-color: #0a4ba8;
    cursor: pointer;
}

.mini-nav-bar-buttons .button:hover{
    background-color: #0a4ba8;
    cursor: pointer;
}

@media(max-width: 1399px) {
    // form {
    //     width: 90%;
    // }
}

@media(max-width: 767px){
    .search {
        display: none;
        //width: 25%;
    }
}
