<header>
    <div class="big-nav-bar">
        <div class="logo">
            <a href="#"><img src="/assets/images/logo.png"></a>
        </div>
        <div class="search">
            <form action="#">
                <input type="search" name="search" placeholder="Търсете по модел, марка или сериен номер">
                <span><button><i class="fa-solid fa-magnifying-glass fa-l" ></i></button></span>  <!-- style="color: #454545;" -->
            </form>
        </div>

        <ul class="links-text">
            <li class="top-bar-item1">
                <div class="row">
                    <a class="icon" href="#">
                        <div class="col icon">
                            <p class="icon">
                                <i class="fa-regular fa-user fa-xl"></i>
                                <br>
                                <b>ПРОФИЛ</b>
                                <br>
                                <span class="exception">ВХОД / РЕГИСТРАЦИЯ</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>

            <li class="top-bar-item2">
                <div class="row">
                    <a class="icon" href="#">
                        <div class="col icon">
                            <p class="icon">
                                <i class="fa-regular fa-heart fa-xl"></i>
                                <br>
                                <b>ЛЮБИМИ</b>
                                <br>
                                <span class="exception">РЕДАКТИРАЙТЕ СПИСЪКА</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>

            <li class="top-bar-item3">
                <div class="row">
                    <a class="icon" href="#">
                        <div class="col icon">
                            <p class="icon">
                                <i class="fa-solid fa-code-compare fa-xl"></i>
                                <br>
                                <b>СРАВНЕНИЕ</b>
                                <br>
                                <span class="exception"> РАВНЕНИЕ НА ПРОДУКТИ</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div  class="mini-nav-bar">
        <!-- <div class="mini-nav-bar-content"> -->
            <div class="dropdown-menu">
                <button class="dropdown">Продукти</button>
            </div>
            <div class="info">
                <ul class="mini-nav-bar-buttons">
                    <li class="button"><a class="button" href="#">Услуги</a></li>
                    <li class="button"><a class="button" href="#">За Нас</a></li>
                    <li class="button"><a class="button" href="#">Помощ</a></li>
                    <li class="button"><a class="button" href="#">Контакти</a></li>
                    <li class="bag"><a class="bag" href="#"><i class="fa-solid fa-bag-shopping bag"></i></a></li>
                </ul>
            </div>
        <!-- </div> -->
    </div>
</header>
